<<<<<<< HEAD
<div id="banner-wrapper">
=======
<!-- Banner Wrapper -->
			<div id="banner-wrapper">
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
			
			
			<div class="container" >
					<div class="row">
						<div class="12u">
						
							<!-- tab menu -->
							
							
							<ul class="nav-primary">
<<<<<<< HEAD
							<li><a href="industries">Industries</a></li>         
							<li><a href="services">Services</a></li>
							<li><a href="products">Products</a></li>
=======
							<li><a href="#">Industries</a></li>         
							<li><a href="#">Services</a></li>
							<li><a href="#">Products</a></li>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
							</ul>
							
								

						</div>
					</div>
				</div>
				

				
				
				
				
<<<<<<< HEAD
			
=======
				
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
				
<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- slider -->
							
							<div class="bg-slide-wrapper">
<ul class="slides" id="bgSlider" style="position: relative;">

<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home1.jpg" alt="Innovating operational efficiencies for Utilities Company"> 
</li>

<li style="display: none; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home2.jpg" alt="Creating award-winning outcomes"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home3.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home4.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home5.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home6.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

</ul>
</div>


							
							
								

						</div>
					</div>
				</div>
				
				
				
				
				
				
				
				<div class="container">
				
					<div class="row">
					<div class="black_wraper">
					
					<div class="12u">
					
					    <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">»</span></li>
    
    <li class="active">About Us</li>
    </ul>
	
<<<<<<< HEAD
	<h1 class="title1"><%= @page.title %></h1>
=======
	<h1 class="title1">About Us</h1>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
	
	
	<ul class="hmenu">
    <li><a href="#">Overview</a> <span class="divider">|</span></li>
	<li><a href="#">Vision</a> <span class="divider">|</span></li>
	<li><a href="#">Values</a> <span class="divider">|</span></li>
	<li><a href="#">Quality Policy </a> <span class="divider">|</span></li>
	<li><a href="#">Verticals</a> </li>
    
    </ul>
	
	
					
					</div>
					
					
<div class="7u">						



<div class="graywrap">
<h1 class="title2">Overview</h1>
<<<<<<< HEAD

<%= @page.body.html_safe %>
=======
Kunal Infotech Pvt. Ltd. (KIPL) is an IT company based at Nagpur, India. KIPL was incorporated in 2008 with the view of providing IT solutions to their esteem customers to help them maximize their earnings.<p>&nbsp;</p>
<p>
We have been accredited ISO 9001-2008 certification for observing international standards in a wide scope of activities like sales and information technology enabled services (ITeS) in design & development of software and services.</p>
<p>&nbsp;</p>
<p>
Kunal Infotech Pvt Ltd. is a customized process-driven Web & Mobile solutions provider in Ruby on Rails, Rhomobile, Rubymotion, based in Nagpur, India. We develop and customize large-scale enterprise applications using Ruby on Rails and Cloud Computing Services for a varied set of businesses. Our primary business & products’ vertical markets, include professionals ERP Development, Health-Care, Education, Political portals, E-Commerce Application Development, Property management, Tracking Systems and Mobile Applications. 

Kunal Infotech Pvt. Ltd. (KIPL) is an IT company based at Nagpur, India. KIPL was incorporated in 2008 with the view of providing IT solutions to their esteem customers to help them maximize their earnings.<p>&nbsp;</p>
<p>
We have been accredited ISO 9001-2008 certification for observing international standards in a wide scope of activities like sales and information technology enabled services (ITeS) in design & development of software and services.</p>
<p>&nbsp;</p>
<p>
Kunal Infotech Pvt Ltd. is a customized process-driven Web & Mobile solutions provider in Ruby on Rails, Rhomobile, Rubymotion, based in Nagpur, India. We develop and customize large-scale enterprise applications using Ruby on Rails and Cloud Computing Services for a varied set of businesses. Our primary business & products’ vertical markets, include professionals ERP Development, Health-Care, Education, Political portals, E-Commerce Application Development, Property management, Tracking Systems and Mobile Applications. 
</p>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
</div>










</div>
					
<<<<<<< HEAD

 <%= render "layouts/sideboxes"%>						
=======
<div class="5u">						
<!--dynamic data start-->





<div class="contact_wrap2">
<div class="white_box">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:25px">
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/phone_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Contact us</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/write_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Write to us</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/twitter_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Follow on twitter</a></td>
  </tr>
</table>


</div>
<div class="yellow_box">
KIPL Enterprise Application Integration (EAI) practice enables organizations to seamlessly operate B2B 
processes...

<div><a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a></div>
</div>
</div>


<div class="news_wrap2">
<h1><strong>Manage your Business better.</strong></h1>
<span class="yellow">Our cloud enterprise systems has ability to innovate your way to success.</span>
<div><a class="btn" href="#"><span class="rm"><img alt="" src="/assets/admin/bg-mobile-readmore.png"></span>Read More</a></div>
</div>







<!--dynamic data end-->
</div>
						

>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
						
						</div>
						
						</div></div>
				
				
				
				
				
				
			</div>
<<<<<<< HEAD
		
=======
		
	
			
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
