<!-- Banner Wrapper -->
			<div id="banner-wrapper">
			
			
			<div class="container" >
					<div class="row">
						<div class="12u">
						
							<!-- tab menu -->
							
							
							<ul class="nav-primary">
							<li><a href="#">Industries</a></li>         
							<li><a href="#">Services</a></li>
							<li><a href="#">Products</a></li>
							</ul>
							
								

						</div>
					</div>
				</div>
				

				
				
				
				
				
				
<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- slider -->
							
							<div class="bg-slide-wrapper">
<ul class="slides" id="bgSlider" style="position: relative;">

<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home1.jpg" alt="Innovating operational efficiencies for Utilities Company"> 
</li>

<li style="display: none; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home2.jpg" alt="Creating award-winning outcomes"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home3.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home4.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home5.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home6.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

</ul>
</div>


							
							
								

						</div>
					</div>
				</div>
				
				
				
				
				
				
				
				<div class="container">
				
					<div class="row">
					<div class="black_wraper">
					
					<div class="12u">
					
					    <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">»</span></li>
    
    <li class="active">Contact Us</li>
    </ul>
	
	<h1 class="title1">Contact Us</h1>
	
	
	
	
	
					
					</div>
					
					
<div class="7u">						



<div class="graywrap">
<h1 class="title2">Get in touch with us</h1>


<div style="float:left; width:328px">Kunal Infotech Pvt Ltd. <br>55, Suyog Nagar, Ring Road,<br>
Nagpur, State: Maharashtra ,<br>
Pin Code: 440015, Country: INDIA </div>


<div style="float:left; width:328px">

<table width="100%" cellspacing="10" cellpadding="0" border="0">
  <tbody><tr>
    <td valign="middle" align="center"><img alt="" src="images/phone_icon.png"></td>
    <td valign="top" align="left">+91-712-301-0539,  +91-855-499-7875</td>
  </tr>
  <tr>
    <td valign="middle" align="center"><img alt="" src="images/write_icon.png"></td>
    <td valign="top" align="left"><a class="link1" href="#">info@kunalinfotech.net</a></td>
  </tr>
  <tr>
    <td valign="middle" align="center"><img alt="" src="images/twitter_icon.png"></td>
    <td valign="top" align="left"><a class="link1" href="#">kunal.infotech </a></td>
  </tr>
</tbody></table>


</div>

<h1 class="title2" style="margin-top:20px">Get in touch with us</h1>
<form>
<div class="field_div">
<input name="name" type="text" id="name" value="* Enter your full name" class="tf">
</div>

<div class="field_div">
<input name="name" type="text" id="name" value="* Enter your email" class="tf">
</div>

<div class="field_div">
<input name="name" type="text" id="name" value="* Enter your subject" class="tf">
</div>

<div class="field_div">
  <textarea name="name" rows="5" class="tf" id="name">* Your message here</textarea>
</div>

<div class="field_div">
<input name="Submit" type="button" id="Submit" value="Submit" class="submit_btn">
</div>

</form>






</div>











</div>
					
<div class="5u">						
<!--dynamic data start-->





<div class="contact_wrap2">
<div class="white_box">

<h1 class="title2" style="margin:0">Services</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="5">


  <tr>
    <td align="center" valign="middle"><img src="images/email_icon.png" alt="" align="absmiddle"></td>
    <td align="left" valign="middle"><a href="#" class="link1" style="line-height:normal">corporatesales<br>@kunalinfotech.net</a></td>
  </tr>
  <tr>
    <td align="center" valign="top"><img src="images/phone_icon.png" alt=""></td>
    <td align="left" valign="middle"><a href="#" class="link1" style="font-size:14px">+91-8554997875, 8554997882</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="images/skype.png" alt="" align="absmiddle"></td>
    <td align="left" valign="middle"><a href="#" class="link1">kunal.infotech </a></td>
  </tr>
</table>


</div>
<div class="green_box">


<h1 class="title2" style="margin:0">Products</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="5">


  <tr>
    <td align="center" valign="middle"><img src="images/email_icon.png" alt="" align="absmiddle"></td>
    <td align="left" valign="middle">&nbsp;info@kunalinfotech.net</td>
  </tr>
  <tr>
    <td align="center" valign="top"><img src="images/phone_icon.png" alt=""></td>
    <td align="left" valign="middle" style="line-height:normal">&nbsp;+91-8554997874 ,8554997887 
         712 3010539</td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="images/skype.png" alt="" align="absmiddle"></td>
    <td align="left" valign="middle">&nbsp;kunal.infotech</td>
  </tr>
</table>


</div>
</div>


<div class="news_wrap2">
<h1><strong>Manage your Business better.</strong></h1>
<span class="yellow">Our cloud enterprise systems has ability to innovate your way to success.</span>
<div><a class="btn" href="#"><span class="rm"><img alt="" src="images/bg-mobile-readmore.png"></span>Read More</a></div>
</div>







<!--dynamic data end-->
</div>
						

						
						</div>
						
						</div></div>