
 

 		<!-- Banner Wrapper -->
 		<script src="javascript/config.js"></script>
		<script src="javascript/skel.min.js"></script>
		<script src="javascript/skel-panels.min.js"></script>
		
		
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			
		</noscript>
		
		
		
		
		<link href="css/slider.css" rel="stylesheet" type="text/css">

<script>
$.noConflict();
// Code that uses other library's $ can follow here.
</script>


<%= javascript_include_tag "jquery-ui", "jquery-1" %>

<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/jquery-1.js"></script>

		
		
			<div id="banner-wrapper">
			
			
			<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- tab menu -->
							
							
							<ul class="nav-primary">
							<li><a href="/industries">Industries</a></li>         
							<li><a href="#">Services</a></li>
							<li><a href="#">Products</a></li>
							</ul>
							
								

						</div>
					</div>
				</div>
				

				
				
				
				
				
				
<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- slider -->
							
							<div class="bg-slide-wrapper">
<ul class="slides" id="bgSlider" style="position: relative;">

<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home1.jpg" alt="Innovating operational efficiencies for Utilities Company"> 
</li>

<li style="display: none; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home2.jpg" alt="Creating award-winning outcomes"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home3.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home4.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home5.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home6.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

</ul>
</div>

<div class="spotlight">
<ul style="position: relative;">
<li class="black_wrap">
<div class="panel">
<h1><strong>Manage your Business better.</strong></h1>
<span class="txt">Our cloud enterprise systems has ability to innovate your way to success.</span>
<div><a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a></div>
</div>
</li>

<li class="black_wrap">
<div class="panel">
<h1><strong>Unique approach to mobilizing your business.</strong></h1>
<span class="txt">Develop mobile strategy to consumers that allow your company to take advantage of mobile revolution.</span>
<div><a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a></div>
</div>
</li>

<li class="black_wrap">	
<div class="panel">
<h1><strong>Innovating operational efficiencies for Utilities Company.</strong></h1>
<span class="txt">We serve energy and utilities companies with a wide array of IT services reducing costs, and gaining business value.</span>
	
<div>
<a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a>
</div>

</div>
</li>



<li class="black_wrap">	
<div class="panel">
<h1><strong>Innovating operational efficiencies for Utilities Company.</strong></h1>
<span class="txt">We serve energy and utilities companies with a wide array of IT services reducing costs, and gaining business value.</span>
	
<div>
<a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a>
</div>

</div>
</li>


<li class="black_wrap">	
<div class="panel">
<h1><strong>Innovating operational efficiencies for Utilities Company.</strong></h1>
<span class="txt">We serve energy and utilities companies with a wide array of IT services reducing costs, and gaining business value.</span>
	
<div>
<a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a>
</div>

</div>
</li>


<li class="black_wrap">	
<div class="panel">
<h1><strong>Innovating operational efficiencies for Utilities Company.</strong></h1>
<span class="txt">We serve energy and utilities companies with a wide array of IT services reducing costs, and gaining business value.</span>
	
<div>
<a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a>
</div>

</div>
</li>
</ul>

<div class="spotlight-pagination"></div>



</div>
							
							
								

						</div>
					</div>
				</div>
				
				
				
				
				
				
			</div>