<<<<<<< HEAD
	<%= stylesheet_link_tag "accordion1", "accordion2" %>
<%= javascript_include_tag "jquery.cbpNTAccordion.js", "jquery.cbpNTAccordion.min.js" %>

=======
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
<script type="text/javascript">
<!--http://www.itechroom.com-->
$(document).ready(function($) {
       $('#accordion div').hide();
       $('#accordion p span').click(function(){
               $('#accordion div').slideUp();
               $(this).parent().next().slideDown();
               return false;
       });
});

</script>
<<<<<<< HEAD
		<!-- Banner Wrapper -->
=======
<%= stylesheet_link_tag "assets/accordion1.css", "assets/accordion2.css" %>
<!-- Banner Wrapper -->

>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
			<div id="banner-wrapper">
			
			
			<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- tab menu -->
							
							
							<ul class="nav-primary">
<<<<<<< HEAD
							<li><a href="industries">Industries</a></li>         
							<li><a href="services">Services</a></li>
							<li><a href="products">Products</a></li>
=======
							<li><a href="#">Industries</a></li>         
							<li><a href="#">Services</a></li>
							<li><a href="#">Products</a></li>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
							</ul>
							
								

						</div>
					</div>
				</div>
				

				
				
				
				
				
				
<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- slider -->
							
							<div class="bg-slide-wrapper">
<ul class="slides" id="bgSlider" style="position: relative;">

<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home1.jpg" alt="Innovating operational efficiencies for Utilities Company"> 
</li>

<li style="display: none; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home2.jpg" alt="Creating award-winning outcomes"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home3.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home4.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home5.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home6.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

</ul>
</div>


							
							
								

						</div>
					</div>
				</div>
				
				
				
<<<<<<< HEAD
		
=======
				
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
				
				
				
				<div class="container">
					<div class="row">
<<<<<<< HEAD

	 <%= render "layouts/sideboxes"%>		
			

=======
					
<div class="5u">						
<!--dynamic data start-->


<div class="news_wrap">
<h1><strong>Manage your Business better.</strong></h1>
<span class="yellow">Our cloud enterprise systems has ability to innovate your way to success.</span>
<div><a class="btn" href="#"><span class="rm"><img alt="" src="/assets/admin/bg-mobile-readmore.png"></span>Read More</a></div>
</div>


<div class="contact_wrap">
<div class="white_box">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:25px">
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/phone_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="contact_us" class="link1">Contact us</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/write_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Write to us</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/twitter_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Follow on twitter</a></td>
  </tr>
</table>


</div>
<div class="yellow_box">
KIPL Enterprise Application Integration (EAI) practice enables organizations to seamlessly operate B2B 
processes...

<div><a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a></div>
</div>
</div>







<!--dynamic data end-->
</div>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
						
<div class="7u">						
<!--Accordion start-->

<div id="accordion">
		   <p class="news-title"><span>Power</span></p>
<div class="news_text">
  
    
      
 The details about any of the present or former student can be searched   using this module. This module helps to narrow the search by asking to   elect one option amongst present or former student. It then displays the   result of the names of students as per the selected preferences along   with their profile..The details about any of the present or former student can be searched   using this module. This module helps to narrow the search by asking to <p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
   
   </div>


<p class="news-title"><span>Water</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.

<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
</div>

<p class="news-title"><span>Health Care</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.
<<<<<<< HEAD
=======
<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
</div>

<p class="news-title"><span>Education</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.
<<<<<<< HEAD
=======
<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
</div>








</div>

<!--Accordion end-->
</div>
						
						</div>
						
						</div>
				
				
				
				
				
				
			</div>
		
<<<<<<< HEAD

=======
	
>>>>>>> 56d37eaaa702f98ddd32f4c932af631c6db8673c
