<!-- Banner Wrapper -->
			<div id="banner-wrapper">
			
			
			<div class="container" >
					<div class="row">
						<div class="12u">
						
							<!-- tab menu -->
							
							
							<ul class="nav-primary">
							<li><a href="industries">Industries</a></li>         
							<li><a href="services">Services</a></li>
							<li><a href="products">Products</a></li>
							</ul>
							
								

						</div>
					</div>
				</div>
				

				
				
				
				
				
				
<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- slider -->
							
							<div class="bg-slide-wrapper">
<ul class="slides" id="bgSlider" style="position: relative;">

<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home1.jpg" alt="Innovating operational efficiencies for Utilities Company"> 
</li>

<li style="display: none; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home2.jpg" alt="Creating award-winning outcomes"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="i/assets/admin/home3.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home4.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="i/assets/admin/home5.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home6.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

</ul>
</div>


							
							
								

						</div>
					</div>
				</div>
				
				
				
				
				
				
				
				<div class="container">
				
					<div class="row">
					<div class="black_wraper">
					
					<div class="12u">
					
					    <ul class="breadcrumb">
    <li><a href="#">Home</a> <span class="divider">»</span></li>
    
    <li class="active">Press Release</li>
    </ul>
	
	
	<h1 class="title1">Press Release</h1>
	
	
					
					</div>
					
					
<div class="7u">						



<div class="graywrap" style="width:678px">
<h1 class="title2">Press Release</h1>
<table width="100%" border="1" cellspacing="10" cellpadding="10">
  <tr>
    <td align="center" valign="middle" class="press_logo"><img src="/assets/admin/hitavada.gif" alt=""></td>
    <td align="left" valig n="middle" ><a href="/assets/admin/press_release.jpg" rel="lightbox">Kunal Infotech's IT park coming up near MIHAN</a> </td>
  </tr>
  <tr>
    <td align="left" valign="middle" class="press_logo"><img src="/assets/admin/hitavada.gif" alt=""></td>
    <td align="left" valign="middle"><a href="/assets/admin/kunal_supe_on_nccl_board.jpg" rel="lightbox">Kunal Supe on NCCL Board</a> </td>
  </tr>
  <tr>
    <td align="left" valign="middle" class="press_logo"><img src="/assets/admin/hitavada.gif" alt="">;</td>
    <td align="left" valign="middle"><a href="/assets/admin/news_trade_industry_31_dec_2012.jpg" rel="lightbox">Kunal Infotech to set up IT Park</a> </td>
  </tr>
</table>

</div>






</div>




 <%= render "layouts/sideboxes"%>	


		</div>
						
						</div></div>
				
				
				
				
				
				
			</div>
		
	