<%= stylesheet_link_tag "accordion1", "accordion2" %>
<%= javascript_include_tag "jquery.cbpNTAccordion.js", "jquery.cbpNTAccordion.min.js" %>

<script type="text/javascript">
<!--http://www.itechroom.com-->
$(document).ready(function($) {
       $('#accordion div').hide();
       $('#accordion p span').click(function(){
               $('#accordion div').slideUp();
               $(this).parent().next().slideDown();
               return false;
       });
});

</script>
		<!-- Banner Wrapper -->
			<div id="banner-wrapper">
			
			
			<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- tab menu -->
							
							
							<ul class="nav-primary">
							<li><a href="industries">Industries</a></li>         
							<li><a href="services">Services</a></li>
							<li><a href="products">Products</a></li>
							</ul>
							
								

						</div>
					</div>
				</div>
				

				
				
				
				
				
				
<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- slider -->
							
							<div class="bg-slide-wrapper">
<ul class="slides" id="bgSlider" style="position: relative;">

<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home1.jpg" alt="Innovating operational efficiencies for Utilities Company"> 
</li>

<li style="display: none; position: absolute; top: 0px; left: 0px; z-index: 3; opacity: 0; width: 1349px; height: 581px;">
<img src="/assets/admin/home2.jpg" alt="Creating award-winning outcomes"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home3.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home4.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home5.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

<li style="display: block; position: absolute; top: 0px; left: 0px; z-index: 4; opacity: 1; width: 1349px; height: 581px;">
<img src="/assets/admin/home6.jpg" alt="Navigating toward the future: Leading in enterprise mobility"> 
</li>

</ul>
</div>


							
							
								

						</div>
					</div>
				</div>
				
				
				
		
				
				
				
				<div class="container">
					<div class="row">

	 <%= render "layouts/sideboxes"%>		
			

						
<div class="7u">						
<!--Accordion start-->

<div id="accordion">
		   <p class="news-title"><span>School Cloud</span></p>
<div class="news_text">
  
    
      
 The details about any of the present or former student can be searched   using this module. This module helps to narrow the search by asking to   elect one option amongst present or former student. It then displays the   result of the names of students as per the selected preferences along   with their profile..The details about any of the present or former student can be searched   using this module. This module helps to narrow the search by asking to <p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
   
   </div>


<p class="news-title"><span>Meter Reading Mobile Application</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.

<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
</div>

<p class="news-title"><span>Iwetrack</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.
<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
</div>

<p class="news-title"><span>Movie Date Mobile App</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.
<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
</div>


<p class="news-title"><span>Jano Hamara Neta
</span></p>
<div class="news_text">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed interdum ipsum. Quisque tempus suscipit tellus, sed ornare metus porta ut. Ut eu neque turpis, congue cursus augue. Aliquam venenatis urna ut ligula aliquet id faucibus orci ultrices. Nullam posuere libero quis urna molestie in mattis odio mattis. Etiam sed enim enim, ac ultricies massa. Nullam elit velit, condimentum placerat molestie eu, tincidunt cursus orci. Suspendisse fringilla porttitor tristique. Sed non elit leo, vel blandit urna. Proin libero ligula, interdum eu tincidunt nec, sollicitudin congue erat. Duis luctus rhoncus tempor.
<p>
  <a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span> Read More</a>  </p>
</div>





</div>

<!--Accordion end-->
</div>
						
						</div>
						
						</div>
				
				
				
				
				
				
			</div>
		

