




<div class="5u">						
<!--dynamic data start-->




<div class="news_wrap2">
<h1><strong>Manage your Business better.</strong></h1>
<span class="yellow">Our cloud enterprise systems has ability to innovate your way to success.</span>
<div><a class="btn" href="#"><span class="rm"><img alt="" src="/assets/admin/bg-mobile-readmore.png"></span>Read More</a></div>
</div>


<div class="contact_wrap2">
<div class="white_box">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:25px">
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/phone_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="contact_us" class="link1">Contact us</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/write_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Write to us</a></td>
  </tr>
  <tr>
    <td align="center" valign="middle"><img src="/assets/admin/twitter_icon.png" alt=""></td>
    <td align="left" valign="top"><a href="#" class="link1">Follow on twitter</a></td>
  </tr>
</table>


</div>
<div class="yellow_box">
KIPL Enterprise Application Integration (EAI) practice enables organizations to seamlessly operate B2B 
processes...

<div><a href="#" class="btn"><span class="rm"><img src="/assets/admin/bg-mobile-readmore.png" alt=""></span>Read More</a></div>
</div>
</div>








<!--dynamic data end-->
</div>